.Time-slot {
  border: solid 1px #005039;
  display: block;
  border-radius: 5px;
  color: #005039;
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 5px;
  width: 200px;
  font-size: 16px;
}

.Time-slot--reserved {
  font-weight: 700;
  background-color: #005039;
  color: white;
}

.Time-slot:disabled {
  opacity: .5;
}
