.Selected-time-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #005039;
  border-radius: 5px;
  height: 50px;
  font-weight: 700;
  color: #005039;
  font-size: 20px;
}
